%h1 New Card
= simple_form_for @card do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :original_text
    = f.input :translated_text
    = f.input :review_date
  .form-actions
    = f.button :submit
