%body
  %header.container.py-4
    .row
      %a.col-md-6.pb-2.pb-md-0.text-dark
        = image_tag "logo.svg" , class: "d-inline-block align-middle", alt: t("header.logo_alt"), loading: "eager", width: "40"
        %p.d-inline-block.align-middle.m-auto.h1.fw-bold= t("header.app_name")
      .col-md-6.m-auto
        %ul.row.justify-content-around.m-auto.p-0
          %li.col-md-5.h-100.mb-2.mb-md-0.bg-gradient.btn.btn-primary
            = link_to t("header.card_menu.view_all"), "#", class: "text-decoration-none text-white" 
          %li.col-md-6.ps-3.h-100.btn.btn-success.bg-gradient
            = link_to "#", class: "text-decoration-none text-white" do 
              = image_tag "plus_sign.svg", class: "d-inline-block align-middle", alt: "", role: "presentation"
              %p.d-inline-block.align-middle.mb-0.ps-1= t("header.card_menu.add")
